// :root {}

html {
  height: 100%;
}
body {
  height: 100%;   
  margin: 0px;  /* removes default style */
  display: flex;  /* enables flex content for its children */
  box-sizing: border-box;
  background: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  overflow: hidden;
}
body * {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

.scrollbox {
  flex: 1 1 auto;
  position: relative;/* need this to position inner content */
  overflow-y: auto;
}

.max-wrapper {
  max-width: 1280px;
  margin: 1em auto;
  @media screen and (max-width:1280px) {
    margin: 1em;
  }
}

.home {
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
  }
  .select-country {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .flag {
      width: 225px;
      height: 150px;
      background: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &.flag-ua {
        background-image: url('/images/flag_ua.svg');
      }
      &.flag-ru {
        background-image: url('/images/flag_ru.svg');
      }
    }
  }
}

.unitspage {
  height: 100%;
  display: flex;
  flex-direction: column;  
  header {
    background: #0057b7;
    color: #ffd700;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.4em 0.25em;
    position: relative;
    h3 {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
    }
    #homelink {
      text-decoration: none;
      color: #ffd700;
      position: absolute;
      left: 1em;
      display: inline-block;  
      font-size: 1.2em;  
    }
    #compactmode {
      border: none;
      margin: 0;
      padding: 0;
      width: auto;
      overflow: visible;
      background: transparent;
      color: #ffd700;
      position: absolute;
      right: 1em;
      font-size: 1.2em; 
      &:hover {
        cursor: pointer;
      }
    }
  }

  #compact-mode-info {
    background: #ffd700;
    color: #0057b7;
    font-size: 1.2em;
  }

}

#opbox {
  background: #ffd700;
  color: #0057b7;
  padding: 0.2em 0.95em;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
#filterbox {
  input {
    border: 1px solid #0057b7;
    box-shadow: none;
    text-decoration: none;
    padding: 0.25em;
    margin-left: 1em;
    border-radius: 0.25em;
    &:focus {
      outline: none;
    }
  }
}
.jumperbox {
  #hamburger { 
    cursor: pointer;
  }
  .bar {
    display: block;
    background: #0057b7;   
    width: 30px;
    height: 3px;
    margin: 4px auto;
    transition: 0.5s; 
    transform-origin: center;
  }

  #hamburger.checked .bar:nth-child(2) {
    opacity:0;
  }
  #hamburger.checked .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  #hamburger.checked .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  #jumpercontent {
    position: fixed;
    z-index: 99;
    right: -100%;
    background: #ffd700;
    transition: 0.5s; 
    &.show {
      right: 0;
    }
    .jumper-item {
      display: block;
      text-decoration: none;
      padding: 0.15em 0.5em;
      color: #0057b7;
      &:hover {
        background: #fff;
      }
    }
  }
}


#patch-tooltip {
  // font-weight: bold;
  font-size: 1.2em;
}




.unit-wrapper {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 0.5em;
  border: 1px solid #0057b7;
  background: #fff;
  box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.3);
}

.unit-header {
  margin: 0;
  padding: 0.3em 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  background: #aaaaaa;
  color: #fff;

  &.level-0 {
    background: #0057b7;
  }
  &.level-1 {
    background: #ffd700;
    border-top: 1px solid #dab900;
    border-bottom: 1px solid #dab900;
  }
  &.level-2 {
    background: #aaaaaa;
    border-top: 1px solid #999898;
    border-bottom: 1px solid #999898;
  }

  .unit-title {
    margin: 0 auto 0 0;

    &.level-0 {
      color: #fff;
    }
    &.level-1 {
      color: #0057b7;
    }
    &.level-2 {
      color: #fff;
    }

  }
  .unit-number {
    background: rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.8);
    border-radius: 0.5em;
    padding: 0.2em 0.4em;
    line-height: 20px;
    font-size: 12px;
    margin: 0;
    flex-shrink: 0;
    &.level-1 {
      color: rgba(0,0,0,0.4);
    }
    &.level-2 {
      background: rgba(255,255,255,0.3);
      color: rgba(255,255,255,0.8);
    }
  }
  .unit-socials {
    margin-left: 0.5em;
    .unit-socials__inner {
      background: rgba(255,255,255,0.3);
      border-radius: 0.5em;
      padding: 0.2em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      justify-content: space-between;
    }
    a {
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      color: #fff;
      width: 35px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.6;
      transition: all 0.5s;
      &:hover {
        opacity: 1;
        transform: rotate(360deg);
      }
      &.facebook {
        background-image: url('/images/facebook.svg');
      }
      &.twitter {
        background-image: url('/images/twitter.svg');
      }
      &.telegram {
        background-image: url('/images/telegram.svg');
      }
      &.youtube {
        background-image: url('/images/youtube.svg');
      }
      &.instagram {
        background-image: url('/images/instagram.svg');
      }
      &.tiktok {
        background-image: url('/images/tiktok.svg');
      }
    }    
  }
  &.subunit .unit-socials .unit-socials__inner {
    background: rgba(255,255,255,0.5);
  }
}

.unit-description {
  background: #f5f5f5;
  padding: 0.3em;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.unit-tags {
  background: #f5f5f5;
  padding: 0.3em;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.unit-patches {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.3em;
  .thumbnail-wrapper {
    margin: 10px;
  }
  .patch-image {
    height: 70px;
    // width: 70px;
    // object-fit: contain;
  }
  .patch-image-compact {
    height: 70px;
    width: 70px;
    object-fit: contain;
  }
}

.__react_modal_image__modal_container {
  background-color: rgba(255, 255, 255, 1) !important;
}
.__react_modal_image__medium_img {
  max-width: 80% !important;
  max-height: 80% !important;
}